<%- include("partials/header"); -%>
    <h1>About</h1>
    <h3> This is me, Sei Revidon </h3>
    <p> My name is Sei </p>
    <p> I live in chinnor near the railway </p>
    <p> I love trains because when I was a child I loved watching Thomas the Tank Engine. </p>
    <p> For my work expereince I was lucky enough to find a placement at the local railway, Chinnor & Princes Risborough railway, where I  spent a week learning the craft of train maintanance </p>
    <p> I enjoyed my work experience so much that I got a Junior membership so that I can work there more often. </p>
    <img src="image/me.jpeg" class="aboutMe"></img>

<%- include("partials/footer"); -%>
