<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <h3> <a href="https://www.chinnorrailway.co.uk/"> Chinnor railway website </a></h3>
    <h3> <a href="https://www.chinnorrailway.co.uk/contact.php"> Chinnor railway email </a></h3>
<%- include("partials/footer"); -%>
