<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <a href="https://www.chinnorrailway.co.uk/"> Chinnor railway website </a></p>
    <p> <a href="https://www.chinnorrailway.co.uk/contact.php"> Chinnor railway email </a></p>
<%- include("partials/footer"); -%>
