
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <h3> Welcome to my blog about the Chinnor Railway</h3>

    <div>
        <img src="image/chinnor railway station.jpg" class="homeImage"/>
        <div class="homeText">
            <p>This website is all about my experience at the Chinnor railway station.</p>
            <p>It all started during my work placement in June 2022.</p>
            <p> I will talk about my experince with the railway and  why enjoy working there so much. </p>#
        
            <p>
        </div>
    </div>

    <div class="noFloat"></div>

    <div>
        <img src="image/under the train.jpeg" class="homeImage"/>
        <div class="homeText">
            <p>During my work experience I had to go under a train and grease it from underneath.</p>
            <p> I spent the full morning  greasing the entire train </p>
            <p>It was here where I learnt the new phrase "Grease Nipple".</p>
        
        </div>
    </div>

<%- include("partials/footer"); -%>
