
<%- include("partials/header"); -%>
    <h1>Trivia about the railway</h1>
    <h3> Here are a few pieces of general trivia about the railway</h3>
    
    <div>
        <img src="image/old railway.jpg" class="homeImage"/>
        <div class="homeText">
            <p>The railway first opened in August 1872 and ran until July 1957. Then the railway reopened in August 1994.</p>
        </div>
    </div>
    
    <div class="noFloat"></div>

    <div>
        <img src="image/midsummer murder.jpg" class="homeImage"/>
        <div class="homeText">
            <p>The railway has appeared on the popular TV show Midsummer Murders. The railway most notably appears in the episode 'Death In a Chocolate Box'</p>
            <p>The railway had to modify the station to create the image of Holm Lane Junction.</p>
            <p> The railway first appeared on Midsummer Murders in 2008, and because of demand the railway was used again more frequently for Midsummer Murders. </p>
        
            <p>
        </div>
    </div>

    <div class="noFloat"></div>

    <div>
        <img src="image/crossing.jpg" class="homeImage"/>
        <div class="homeText">
            <p>This is the crossing at Wainhill.</p>
            <p> This crossing was used in the episode "Death In a Chocolate Box" </p>
            <p>I love the way how they made it look like a busy junction when it is only a path after the crossing.</p>
        
        </div>
    </div>

<%- include("partials/footer"); -%>
